@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
}
.element {
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

.heading, .clients .section-header h2, .section-head h1, .testimonials .section-header h2, .section-head-1 h4{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #000000;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after, .clients .section-header h2::before, .clients .section-header h2::after, .section-head h1::before, .section-head h1::after, .testimonials .section-header h2::before, .testimonials .section-header h2::after, .section-head-1 h4::before, .section-head-1 h4::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #000000;
    border-left: .4rem solid #000000;
}

.heading::before, .clients .section-header h2::before, .section-head h1::before, .testimonials .section-header h2::before, .section-head-1 h4::before{
    top: 5.8rem;
    left: -2rem;
}

.heading::after, .clients .section-header h2::after, .section-head h1::after, .testimonials .section-header h2::after, .section-head-1 h4::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.row .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.row .btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #5da2e6;
}

.header{
    display: flex;
    align-items: center;
    background-color: #000000;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}

.header .logo img{
    width: 130%;
    height: 3rem;
    top: 0;
    left: 0;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li{
    margin: 0 1.5rem;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

.header .navbar ul li a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.header .logo i{
    padding: 0.5rem;
}

.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images2/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-flow: column;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home img{
    max-width: 100%; 
    height: auto;
    width: 100px;
    align-items: center;
    margin-right: 500px;
    pointer-events: none;
}
.home img.second-image {
    width: 300px;
    align-items: center;
    margin-right:100px;
    pointer-events: none;
}

.home h1{
    color: #fff;
    font-size: 5.5rem;
}

.home h2{
    color: #fff;
    font-size: 1.7rem;
    text-align: left;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 120px;
}

.home h3{
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    margin-top:50px;
    margin-right:100px;
}

@media (max-width: 1500px) {
    .home h2 {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media (max-width: 750px) {
    .home h2 {
        margin-left: 15px;
        margin-right: 15px;
    }
    .home img{
        margin-left: 15px;
        margin-right: 15px;
    }
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images2/wave.png);
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.home .wave2{
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}

.pricelist .waveS{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images2/wave2.png);
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.pricelist .wave2S{
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .2;
}

.pricelist .wave3S{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes wavesS{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}

.try{
    min-height: 55vh;
    width: 100vw;
    top: -3rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 10rem;
}

.try h2{
    color: #000000;
    font-size: 1.7rem;
    text-align: left;
}
.try h4{
    color: #000000;
    margin-top: 20px;
    font-size: 9rem;
}

.try .row{
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}

.try .row .content{
    text-align: center;
}

.try .row .content h3{
    font-size: 3rem;
    color: black;
}

.try .row .content p{
    font-size: 2rem;
    color: #333;
    padding: 1rem 0;
}

.custom-image-container {
position: relative;
display: inline-block;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: transparent;
pointer-events: none; /* Allow clicks to pass through */
z-index: 1; /* Ensure the overlay is on top */
}

.pt-5 .container .row .section-head p{
    font-size: 2rem;
    color: #333;
    padding: 1rem 0;
}
  .section-head{
    margin-bottom: 60px;
    text-align: center;
    margin-top: -8rem;
  }
  .section-head p{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .item{
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: -2rem;
    border:5px solid rgba(0,0,0,0.07);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover{
    background:#c8d8e4;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item h6{
      font-size: 2rem;
  }
  .item:hover h6,
  .item:hover p{
    color:#2b6777;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#52ab98;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#52ab98;
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item p{
    font-size: 15px;
    line-height: 26px;
  }
  .item h6{
    margin-bottom: 20px;
    color:#2f2f2f;
  }   
.section-head-1{
    margin-bottom: 60px;
    background-size: 200%;
    background-position: left;

  }
  .section-head-1 p{
    color:#333;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .item{
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.07);
    -webkit-transition:all 0.7s ease 0s;
    transition:all 0.7 ease 0s;
    
  }
  .item:hover{
    background-image: linear-gradient(to bottom right, #66ffcc 0%, #ffccff 100%);
    background-position: right;
    transition: background-position 3s;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.7s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover h6,
  .item:hover p{
    color:#2b6777;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#52ab98;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item p{
    font-size: 15px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 26px;
  }
  .item h6{
    margin-bottom: 20px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color:#2f2f2f;
  }

.aboutus {
    text-align: center;
    margin: 0 auto;
    background-image: url(../images2/compass2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 35vh;
    padding: 20px ;
    align-items: center;
    
}

.aboutus h3{
    margin-top: 3rem;
    font-size: 9rem;
    text-align: center;
}

.aboutus h2{
    margin-top: 1rem;
    font-size: 6rem;
    text-align: center;
}

.aboutus p{
    margin-top: 1rem;
    font-size: 1.7rem;
}

.columns {
    display: flex;
    justify-content: space-around; /* Adjusted spacing */
    flex-wrap: wrap; /* Added to allow wrapping on smaller screens */
    margin-top: 30px;
}

.column {
    flex: 0 1 calc(30% - 30px); /* Adjusted flex property and added calc to include margin */
    text-align: left;
    padding: 20px;
}

@media (max-width: 1200px) {
    .column {
        flex: 0 1 calc(100% - 20px); 
        margin: 10px;
        padding: 20px;
    }
}

.longterm{
    text-align: center;
    align-items: center;
}

.longterm h3{
    margin-top: 6rem;
    font-size: 6rem;
}

.longterm p{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 420px;
    margin-bottom: 6rem;
}

@media (max-width: 1500px) {
    .longterm p {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 120px;
        margin-bottom: 6rem;
    }
}

.clients2{
    text-align: center;
    align-items: center;
    background-image: url(../images2/sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 35vh;
    padding: 40px 20px;
}  

.clients2 h3{
    margin-top: 3rem;
    font-size: 9rem;
}

.clients2 p{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clients2 img{
    max-width: 300px;
    padding: 30px 50px 30px 50px;
}

@media (max-width: 1300px) {
    .clients2 img {
        max-width: 200px;
    padding: 10px 10px 10px 10px;
    }
}
@media (max-width: 870px) {
    .clients2 img {
        max-width: 100px;
    padding: 10px 10px 10px 10px;
    }
}
/* Style for the image container */
.image-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Add space between items */
    align-items: center; 
}

/* Style for the images */
.image-container img {
    max-width: 48%; /* Adjust the maximum width of images */
    margin-bottom: 10px; /* Add some space between images */
    margin: 5px;
}

@media (max-width: 750px) {
    .image-container img {
        max-width: 100%; 
    }
}

.pricelist {
    padding-top: 10px;
    background-color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-flow: column;
    text-align: center;
    position: relative;
    overflow: hidden !important;
}


.pricelist h1{
    margin-top: 10px;
    font-size: 9rem;
    text-align: center;
    color: black;
}

.pricelist h2{
    margin-top: 10px;
    font-size: 4rem;
    text-align: center;
    color: black;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pricelist img {
    max-width: 300px;
    opacity: 1;
    transition: 0.3s;
    margin: 40px; 
}

.pricelist h4 {
    font-size: 2rem;
    text-align: center;
    color: black;
}

.pricelist h3{
    font-size: 1.7rem;
    margin-top: 100px;
    display: block; 
    width: 600px;
    text-align: left;
    color: black;
}

.gallery-img {
    max-width: 1200px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.button {
    padding: 10px;
    margin: 5px;
    font-size: 1.7rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none !important;
    outline: none !important;
}

.button:hover {
    color: #5da2e6;
    text-decoration: underline;
}

.aligned-heading {
    font-size: 1.7rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
  }

.rounded-box-all {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
}
.rounded-box-all2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (max-width: 1200px) {
    .rounded-box-all2 {
        flex-direction: column;
    }
    .home img.second-image {
        margin-right:0px;
    }
    .home h3{
        margin-top:0px;
        margin-right:0px;
    }
    .gallery-img {
        max-width: 800px;
        height: auto;
        transition: transform 0.3s ease-in-out;
        border-radius: 5px;
    }
    
    
}

@media (max-width: 800px) {
    .rounded-box-all {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .gallery-img {
        max-width: 600px;
        height: auto;
    }
}
@media (max-width: 700px) {
    .gallery-img {
        max-width: 450px;
        height: auto;
    }
}

.rounded-box {
    width: 600px; 
    padding: 20px; 
    border-radius: 45px; 
    background-color: #8f8a8a44;
    margin: 10px auto;
}

.rounded-box2 {
    width: 600px; 
    padding: 20px; 
    border-radius: 45px; 
    background-color: #ffffff;
    border: 2px solid #8f8a8a;
    margin: 10px auto; 
}

.rounded-box3 {
    width: 350px;
    padding: 20px;
    border-radius: 45px;
    background-color: #D6EEFB;
    border: 2px solid #0101b7;
    margin: 10px auto; 
    margin-right: 20px
}

.rounded-box4 {
    width: 350px;
    padding: 20px; 
    border-radius: 45px; 
    background-color: #AEECAA;
    border: 2px solid #3C53F4; 
    margin: 10px auto; 
    margin-right: 20px
}

.rounded-box5 {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 45px;
    margin: 10px auto;
    margin-left: 20px;
    margin-right: 20px
}

.rounded-box6 {
    padding: 20px; 
    border-radius: 45px; 
    margin: 10px auto; 
    margin-left: 20px;
    margin-right: 20px;
}
.rounded-box7 {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
}
.rounded-box8 {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
}

@media (max-width: 1200px) {
    .rounded-box {
        width: 350px; 
        padding: 20px;
        border-radius: 45px;
        background-color: #8f8a8a44; 
        margin: 10px auto; 
    }
    .rounded-box2 {
        width: 350px; 
        padding: 20px;
        border-radius: 45px;
        background-color: #ffffff;
        border: 2px solid #8f8a8a;
        margin: 10px auto;
    }
    .pricelist h4 {
        font-size: 1.7rem;
    }
    .pricelist h3{
        width: 350px;
        text-align: left;
    }
    .rounded-box8 {
        width: 400px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45px;
    }
    
}

.map{
    text-align: center;
    align-items: center;
    background-image: url(../images2/skyscrappers.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 35vh;
    padding: 40px 20px;
}

.map h1{
    margin-top: 3rem;
    font-size: 9rem;
}

.team{
    min-width: 100vw;
    min-height: 95vh;
    text-align: center;
    background-color: #222;
}

.team .heading{
    color: #00bfff;
}

.team .heading::before, .team .heading::after{
    border-color: #00bfff;
}

.team .row{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team .row .card{
    height: 35rem;
    width: 25rem;
    background-color: #fff;
    text-align: center;
    margin: 5rem 5rem;
    position: relative;
    overflow: hidden;
    -webkit-box-reflect: below 5px linear-gradient(transparent 70%, #0004);
    transition: 0.5s;
}

.team .row .card:hover{
    transform: translateY(-10px);
    cursor: pointer;
}


.team .row .card .image{
    margin: 1rem 0;
    padding-top: 4rem;
}

.team .row .card .image img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.3);
    object-fit: cover;
}

.team .row .card .info h3{
    font-size: 1.7rem;
    color: #333;
}

.team .row .card .info span{
    font-size: 1.8rem;
    color: #00bfff;
}

.team .row .card .info .icons a{
    margin-top: 4rem;
    padding-top: 0 1rem;
    font-size: 2rem;
    color: #333;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.team .row .card::before, .team .row .card::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 13.5rem;
    width: 13.5rem;
    z-index: -1;
}

.team .row .card::before{
    background: #00bfff;
    top: -3rem;
    right: -4rem;
}

.team .row .card::after{
    background: #ccc;
    bottom: -3rem;
    left: -4rem;
}

.contact{
    text-align: center;
    align-items: center;
}

.contact .heading{
    margin-bottom: 5rem;
}

.contact-in
{
    width: 80%;
    height: 150px;
    margin: auto auto 5rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map
{
    width: 100%;
    height: 100%;
    flex: 50%;
}
.contact-map iframe
{
    width: 100%;
    height: 150px;
}
.contact-form
{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: left;
}
.contact-form-txt
{
    margin-left: 2rem;
    width: 95%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-email
{
    margin-left: 2rem;
    width: 95%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txt::placeholder
{
    color: #aaa;
    font-size: 1.5rem;
}
.contact-form-email::placeholder
{
    color: #aaa;
    font-size: 1.5rem;
}
.contact-form-txtarea
{
    margin-left: 2rem;
    width: 95%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-form-txtarea::placeholder
{
    color: #aaa;
    font-size: 1.5rem;
}

.contact-form-btn
{
    margin-left: 2rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
.contact-form-btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
}
.contact-form-phone
{
    margin-left: 2rem;
    width: 95%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-phone::placeholder
{
    color: #aaa;
    font-size: 1.5rem;
}

.footer {
    background-color: #5da2e6;   
    padding: 20px;
    text-align: center;
}
.footer p {
    margin: 5px 0;
    color: white;
    font-size: 14px;
    text-align: left;
    margin-right: 500px;
}

@media (min-width: 100px) {
    .footer p{
        margin-right: 0px;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    background-color: #5da2e6;
    color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 1;
    font-size: 44px;
    right: 15px;
    bottom: 15px;
    transition: background 0.3s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top i:hover {
    color: black;
}
@media (max-width: 1050px){
    html{
        font-size: 50%;
    }
    .header .fa-bars{
        display: block;
        color: 	white;
        margin-right: 1rem;
    }

    .header .fa-bars:hover{
        color: #ffffff;
    }

    .header .navbar{
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li{
        margin: 1rem 0;
    }

    .header .navbar ul li a{
        color:#5da2e6;
        font-size: 2.4rem;
    }

    .header .fa-times{
        transform: rotate(90deg);
    }

    .header .nav-toggle{
        top: 5.8rem;
    }

    .home h1{
        color: #fff;
        font-size: 4rem;
    }
    
    .home h2{
        color: #fff;
        font-size: 1.7rem;
    }

    .try{
        min-height: 38vh;
        width: 100vw;
        margin-top: -3rem;
        margin-bottom: -2rem;
        top: -2rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        line-height: 6rem;
    }
    
    .try .row{
        line-height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 4rem;
    }
    
    .try .row .content{
        text-align: center;
    }
    
    .try .row .content h3{
        font-size: 1.7rem;
        color: var(--color);
    }
    
    .try .row .content p{
        font-size: 1.3rem;
        color: #333;
        padding: 1rem 0;
    } 
    
    .team{
        min-height: auto;
    }

    .team .row{
        flex-direction: column;
    }

    .contact{
        text-align: center;
        align-items: center;
    }
    
    .contact .heading{
        margin-bottom: 3rem;
        margin-top: -2rem;
    }

    .contact-in
		{
			width: 80%;
			height: auto;
			margin: auto auto 5rem auto;
			display: flex;
			flex-wrap: wrap;
			padding: 10px;
			border-radius: 10px;
			background: #fff;
			box-shadow: 0px 0px 10px 0px #666;
		}

		.contact-map
		{
			width: 100%;
			height: auto;
			flex: 50%;
		}
		.contact-map iframe
		{
			width: 100%;
			height: 100%;
		}
		.contact-form
		{
			width: 100%;
			height: auto;
			flex: 50%;
			text-align: left;
		}
		.contact-form-txt
		{
			width: 90%;
			height: 20px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 50px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
		}
        .contact-form-email
		{
            margin-left: 2rem;
			width: 90%;
			height: 20px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 50px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
		}
		.contact-form-txt::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}
        .contact-form-email::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}
		.contact-form-txtarea
		{
            margin-left: 2rem;
			width: 90%;
			height: 110px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 10px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
			font-family: 'Poppins', sans-serif;
		}
		.contact-form-txtarea::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}

		.contact-form-btn
		{
            margin-left: 2rem;
            outline: none;
            border: none;
            border-radius: 5rem;
            background: white;
            border-style: groove;
            border-color: #002e5f;
            font-size: 1.5rem;
            cursor: pointer;
            height: 3.5rem;
            width: 12rem;
            box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
		}
        .contact-form-btn:hover{
            letter-spacing: .1rem;
            opacity: .9;
            color: white;
            background: #002e5f;
        }
		.contact-form-phone
		{
            margin-left: 2rem;
			width: 90%;
			height: 20px;
			color: #000;
			border: 1px solid #bcbcbc;
			border-radius: 50px;
			outline: none;
			margin-bottom: 20px;
			padding: 15px;
		}
		.contact-form-phone::placeholder
		{
			color: #aaa;
            font-size: 1.5rem;
		}

        .back-to-top {
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
}